<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.trackrtc">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:name=".intro.MApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".act.HomeActivity">
        </activity>
        <activity android:name=".act.EditMobile"/>
        <activity android:name=".act.MobileVerification"/>
        <activity android:name=".act.Walkthrough"/>
        <activity android:name=".act.SelectLanguage"/>
        <activity android:name=".act.LoadListShimmerExample"/>
        <activity
                android:name=".act.Splash"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".act.MainActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".act.LoginActivity"
                android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
                android:name=".act.SignupActivity"
                android:theme="@style/Theme.AppCompat.Translucent"/>

        <receiver android:name=".intro.NetworkCheck"/>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>